
<div class="">
    
        <div class="row">
            @if (isLoader) {
                <div class="col-8">
                  <div class="spinner-border spinner-border-sm text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  
                </div>
              } @else {
            <div class="col-8">
                
                <div class="card">
                    <div class="card-header bg-success text-white">
                            Client List:
                    </div>
                    <div class="card-body">
                        <div class="col-12 ">
                            <table class="table border-collapse table-bordered border border-gray-200 ">
                                <thead>
                                    <tr>
                                        <th class="border border-gray-300 bg-gray-100">Sr No</th>
                                        <th class="border border-gray-300 bg-gray-100">Company Name</th>
                                        <th class="border border-gray-300 bg-gray-100">Person Name</th>
                                        <th class="border border-gray-300 bg-gray-100">Contact No</th>
                                        <th class="border border-gray-300 bg-gray-100">City</th>
                                        <th class="border border-gray-300 bg-gray-100">Action</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of clientList; track $index) {
                                        <tr>
                                            <td>{{$index + 1}}</td>
                                            <td>{{item.companyName | uppercase}}</td>
                                            <td>{{item.contactPersonName}}</td>
                                            <td>{{item.contactNo}}</td>
                                            <td>{{item.city}}</td>
                                            <td class="flex justify-around">
                                                <button class="btn btn-primary w-[100px]" (click)="onEdit(item)">Edit</button>
                                                <button class="btn btn-danger w-[100px]" (click)="onDelete(item.clientId)">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>}
            
            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                            New Client:
                    </div>
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Person Name</label>
                                    <input type="text" #personName="ngModel" minlength="2" maxlength="50" required name="contactPersonName" [(ngModel)]="clientObj.contactPersonName" class="form-control" name="contactPersonName">
                                    @if(personName.touched) {
                                        <div class="text-danger">
                                            @if(personName?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(personName?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                    
                                </div>
                                <div class="col-6">
                                    <label for="">Company Name</label>
                                    <input type="text" #companyName="ngModel" maxlength="50" required [(ngModel)]="clientObj.companyName" class="form-control" name="companyName">
                                    @if(companyName.touched) {
                                        <div class="text-danger">
                                            @if(companyName?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                        
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <label for="">Contact No</label>
                                    <input type="text" #contactNo="ngModel" minlength="2" required [(ngModel)]="clientObj.contactNo" maxlength="10" class="form-control" name="contactNo">
                                    @if(contactNo.touched) {
                                        <div class="text-danger">
                                            @if(contactNo?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(contactNo?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <label for="">City</label>
                                    <input type="text" #city="ngModel" minlength="2" required [(ngModel)]="clientObj.city" maxlength="20" class="form-control" name="city">
                                    @if(city.touched) {
                                        <div class="text-danger">
                                            @if(city?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(city?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                    
                                </div>
                                <div class="col-6">
                                    <label for="">State</label>
                                    <input type="text" #state="ngModel" minlength="2" required [(ngModel)]="clientObj.state" maxlength="30" class="form-control" name="state">
                                    @if(state.touched) {
                                        <div class="text-danger">
                                            @if(state?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(state?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <label for="">Pincode</label>
                                    <input type="text" #pincode="ngModel" minlength="2" required [(ngModel)]="clientObj.pincode" maxlength="10" class="form-control" name="pincode">
                                    @if(pincode.touched) {
                                        <div class="text-danger">
                                            @if(pincode?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(pincode?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <label for="">Address</label>
                                    <textarea #address="ngModel" minlength="2" required [(ngModel)]="clientObj.address" maxlength="100" class="form-control" name="address"></textarea>
                                    @if(address.touched) {
                                        <div class="text-danger">
                                            @if(address?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(address?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <label for="">Employee Strenght</label>
                                    <input type="text" #employeeStrenght="ngModel" minlength="2" required [(ngModel)]="clientObj.employeeStrength" maxlength="4" class="form-control" name="employeeStrength">
                                    @if(employeeStrenght.touched) {
                                        <div class="text-danger">
                                            @if(employeeStrenght?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(employeeStrenght?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                                
                                <div class="col-6">
                                    <label for="">Gst No</label>
                                    <input type="text" #gstNo="ngModel" minlength="2" required [(ngModel)]="clientObj.gstNo" maxlength="50" class="form-control" name="gstNo">
                                    @if(gstNo.touched) {
                                        <div class="text-danger">
                                            @if(gstNo?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(gstNo?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <label for="">Reg No</label>
                                    <input type="text" #regNo="ngModel" minlength="2" required [(ngModel)]="clientObj.regNo" class="form-control" name="regNo">
                                    @if(regNo.touched) {
                                        <div class="text-danger">
                                            @if(regNo?.errors?.['required']) {
                                                <span>This is required</span>
                                            }
                                            @if(regNo?.errors?.['minlength']) {
                                                <span>Minimum lenght is 2 chars</span>
                                            }
                                            
                                        </div>
                                    }
                                </div>
                            </div> 
                        </form>
                    
                        <div class="row">
                            <div class="col-6 pt-2">
                                <button class="btn btn-secondary">Reset</button>
                            </div>
                
                            <div class="col-6 pt-2">
                                <button class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClient()">
                                    {{clientObj.clientId != 0 ? 'Update Client' : 'Save Client'}}
                                </button>
                            </div>
                    
                    </div>
                </div>
            </div>
            
        </div> 
   
</div>
  