<div class="row w-1/2 m-5">
    @if (isLoader) {
        <div class="col-12">
          <div class="spinner-border spinner-border-sm text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          
        </div>
      } @else {
    <div class="col-12 ">
        <table class="table border-collapse border border-gray-200 ">
            <thead>
                <tr>
                    <th class="border border-gray-300 bg-gray-100">Sr No</th>
                    <th class="border border-gray-300 bg-gray-100">Role Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList; let srno = index">
                    <td class="border border-gray-300 bg-gray-100">{{srno + 1}}</td>
                    <td class="border border-gray-300 bg-gray-100">{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>}
</div>
      





