<div class="flex justify-center">
    @if (isLoader) {
        <div class="col-8">
          <div class="spinner-border spinner-border-sm text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          
        </div>
      } @else {
    <div class="col-8">
        
        <div class="card">
            <div class="card-header bg-success text-white">
                    Employee List:
            </div>
            <div class="card-body">
                <div class="col-12 ">
                    <table class="table border-collapse table-bordered border border-gray-200 ">
                        <thead>
                            <tr>
                                <th class="border border-gray-300 bg-gray-100">Sr No</th>
                                <th class="border border-gray-300 bg-gray-100">Name</th>
                                <th class="border border-gray-300 bg-gray-100">Designation</th>
                                <th class="border border-gray-300 bg-gray-100">Email</th>
                                <th class="border border-gray-300 bg-gray-100">Role</th>
                                <!-- <th class="border border-gray-300 bg-gray-100">Action</th> -->
                            
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of employeeList; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.empName}}</td>
                                    <td>{{item.empDesignation}}</td>
                                    <td>{{item.empEmailId}}</td>
                                    <td>{{item.role}}</td>
                                    
                                </tr>
                            }
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>}
    </div>  
