<div class="flex w-full py-4 shadow-sm px-16 justify-between">
    <div class="logo">
        <img [src]="imageUrl" alt="logo-dark" class="h-12 cursor-pointer">
    </div>
    <div class="flex gap-10 text-xl font-medium cursor-pointer">
        <div *ngFor="let page of pages; let i = index" class="flex items-center pages">
            {{ page }}
        </div>
    </div>
    <div class="">
        <button class="bg-red-600 text-white font-bold py-2 px-4 rounded hover:bg-red-500 transition duration-300">
            Click Me
        </button>
        
    </div>
</div>
