
<div class="">
    
    <div class="flex justify-center">
        @if (isLoader) {
            <div class="col-8">
              <div class="spinner-border spinner-border-sm text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              
            </div>
          } @else {
        <div class="col-8">
            
            <div class="card">
                <div class="card-header bg-success text-white">
                        Client List:
                </div>
                <div class="card-body">
                    <div class="col-12 ">
                        <table class="table border-collapse table-bordered border border-gray-200 ">
                            <thead>
                                <tr>
                                    <th class="border border-gray-300 bg-gray-100">Sr No</th>
                                    <th class="border border-gray-300 bg-gray-100">Project Name</th>
                                    <th class="border border-gray-300 bg-gray-100">Client Name</th>
                                    <th class="border border-gray-300 bg-gray-100">Start Date</th>
                                    <th class="border border-gray-300 bg-gray-100">Employee Name</th>
                                    <!-- <th class="border border-gray-300 bg-gray-100">Action</th> -->
                                
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientProjectsList; track $index) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.projectName}}</td>
                                        <td>{{item.clientName}}</td>
                                        <td>{{item.startDate}}</td>
                                        <td>{{item.empName}}</td>
                                        
                                    </tr>
                                }
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>}
        
        <!-- <div class="col-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                        New Project:
                </div>
                <div class="card-body">
                    <form #form="ngForm">
                        <div class="row">
                            
                            <div class="col-6">
                                <label for="">Project Name</label>
                                <input type="text" #projectName="ngModel" maxlength="50" name="projectName" required [(ngModel)]="clientProjectObj.projectName" class="form-control">
                                @if(projectName.touched) {
                                    <div class="text-danger">
                                        @if(projectName?.errors?.['required']) {
                                            <span>This is required</span>
                                        }
                                    
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                <label for="">Start Date</label>
                                <input type="date" #startDate="ngModel" minlength="2" name="startDate" required [(ngModel)]="clientProjectObj.startDate" maxlength="10" class="form-control" >
                                @if(startDate.touched) {
                                    <div class="text-danger">
                                        @if(startDate?.errors?.['required']) {
                                            <span>This is required</span>
                                        }
                                        @if(startDate?.errors?.['minlength']) {
                                            <span>Minimum lenght is 2 chars</span>
                                        }
                                        
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                <label for="">Expected End Date</label>
                                <input type="date" #expectedEndDate="ngModel" minlength="2" name="expectedEndDate" required [(ngModel)]="clientProjectObj.expectedEndDate" maxlength="20" class="form-control">
                                @if(expectedEndDate.touched) {
                                    <div class="text-danger">
                                        @if(expectedEndDate?.errors?.['required']) {
                                            <span>This is required</span>
                                        }
                                        @if(expectedEndDate?.errors?.['minlength']) {
                                            <span>Minimum lenght is 2 chars</span>
                                        }
                                        
                                    </div>
                                }
                                
                            </div>
                            <div class="col-6">
                                <label for="">Select Client</label>
                                <select [(ngModel)]="clientProjectObj.clientName" name="clientName" class="form-control" required>
                                    @for (item of clientList; track $index) {
                                        <option [value]="item.companyName">{{item.companyName}}</option>
                                    }
                                </select>
                                
                            </div>
<!-- 
                            Lead By
                            <div class="col-6">
                                <label for="">Lead By</label>
                                <select [(ngModel)]="clientProjectObj.empId" name="empId" class="form-control" required (change)="onEmployeeChange(clientProjectObj.empId)">
                                    @for (item of employeeList; track $index) {
                                        <option [value]="item.empId">{{item.empName}} - {{item.empCode}}</option>
                                    }
                                </select>
                                
                            </div>
                        </div>
                            
                    </form>
                
                    <div class="row">
                        <div class="col-6 pt-2">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
            
                        <div class="col-6 pt-2">
                            <button class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClientProject()">
                                Save Project
                            </button>
                        </div>
                
                </div>
            </div>
        </div> --> 
        
    </div> 

</div>
